{
  "parser": "@babel/eslint-parser",
  "extends": ["react-app", "airbnb-base"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
