{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "@babel",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "airbnb"
  ]
}